<div style="background-color: black; color: white; padding: 15px; margin: 1px">
<font face="Calibri" size="4">
<h1 align="center">Python Assignment // Level 2</h1>
</font>
</div>
<br>
<br>
<div>
<center>
<font face="Calibri">
<p>
Imagine that you've somehow obtained unordered customer data for 14 <i>very</i> important, dynastic families from various market competitors. The provenance of the data and how it was collected is irrevelant, although that you need to know is that it was obtained fairly and legally. For your convenience, this data has been supplied to you in the form of a delimited text file, where for each row you have information that pertains to a customer's given name, family name, estimated monthly income, and country of residence.
</p>
<img src="http://i39.tinypic.com/al545k.png" alt="people lining up" style="height:228px;">
<p>
Not all customers reside in the same country, such that their estimated net worth will fluctuate with global market exchange rates. As of the time of you receiving this information, exchange rates against the US dollar are as follows.
</p>

<table>
<tr>
<th>Country</th>
<th>Currency</th>
<th>Exchange Rate</th>
</tr>
<tr>
<td><b>USA</b></td>
<td><b>USD</b></td>
<td><b>1.0</b></td>
</tr>
<tr>
<td>European Union</td>
<td>EUR</td>
<td>0.88</td>
</tr>
<tr>
<td>Australia</td>
<td>AUD</td>
<td>1.33</td>
</tr>
<tr>
<td>UK</td>
<td>GPB</td>
<td>0.77</td>
</tr>
<tr>
<td>Japan</td>
<td>JPY</td>
<td>111.07</td>
</tr>
<tr>
<td>India</td>
<td>INR</td>
<td>64.76</td>
</tr>
<tr>
<td>Saudi Arabia</td>
<td>SAR</td>
<td>3.75</td>
</tr>
<tr>
<td>China</td>
<td>CNY</td>
<td>6.89</td>
</tr>
<tr>
<td>Russia</td>
<td>RUB</td>
<td>56.58</td>
</tr>
<tr>
<td>Switzerland</td>
<td>CHF</td>
<td>0.97</td>
</tr>
</table>

<p>
The cost to the business in opening a new account for each new customer is US &#36;100. While the company would ideally prefer to create new business for all customers, to do so <i>en masse</i> for all dynastic families simultaneously would present a prohibitive cost. Additionally, for geopolitical reasons, all family members must be made customers or not at all. For this one time event, the company has budgeted itself US &#36;2.5 million dollars to create these new accounts.
<br/>
<br/>
Consequently, the task of this assignment will be to produce summary information for the company that will outline which families should be acquired as customers to increase the business' <i>net capital</i>. The problem is split over many tasks, culminating in the final design of a module that will meet the needs of the problem outlined above. 
</p>
<hr>
<b>Tips:</b> 
<li> Draw or write out your approach to the solution first before coding straight away. 
<li> Don't try to solve the entire problem at once, approach the it in bits in pieces.
<li> Play, with the tools you have - refer back to the slides.
<li> Break the problem into a collection of simple functions that you can play with. 
<li> Make sure you test the functions on their own. 
<li> <b>Read your error messages!</b> They are there to help you figure out what went wrong.
</font>
</center>
</div>

## Part 1: Import data
The dataset for the acquired customer information is labelled as: <b>acquired_custom_data.txt</b>, and you want to move this to the same folder as your python notebook. The next step will be to import this data into your notebook so you can use it. Because you haven't done this before, I have supplied the code below.

```python
# open a connection to the file - 'r' means 'read'
file = open("filename", "r"):

# loop through each line in the text file
for row in file.readlines():
    # because each line is a string, you will need to remove the line break 
    # and split it on the spaces that occur between information 
    entry = row.strip("\n").split(" ")
    
# close the connection to the file
file.close()
```

Use the syntax above to import the dataset into a <b>list</b>. You will need to add some of your own code to do this. Once that works, I want you to turn this into a function, such that:
\begin{equation}
filename \text{<string>} \rightarrow f \rightarrow dataset \text{<list or dict>}
\end{equation}

In [63]:
filename = "acquired_custom_data.txt"

def file_reader(filename):
    
    dataset = []
    with open(filename, 'r') as file:
        for row in file.readlines():
            entry = row.strip("\n").split(" ")
            dataset.append(entry)
    return dataset

names_db = file_reader(filename)

## Part 2: Standardise data to US dollars
Next, you will need to convert the savings for each potential customer from the base currency to US dollars. First, create a function to do this, using the information supplied in the table from the problem outline (__hint__: use a <code>dict</code>, but make sure the keys match the values in the data). Demonstrate that your functions works, i.e. supply an input to show an output.

Now, use this function to convert all potential customer savings in your dataset. You should now have an extra _entry_ that describes the savings standardised to $US. You don't necessarily need to modify your dataset to do this, rather create a new version that has the family name and standardised savings.

In [68]:
def exchange(value, key):
    rates = {'USA': 1., 'Australia':1.33, 'India':64.76, 'Japan':111.07, \
            'UK':0.77, 'Switzerland':0.97, 'SaudiArabia':3.75, 'China':6.89, \
            'Germany':0.88, 'Russia':56.58}
    return value*1/rates[key]

new_dataset = []

for entry in names_db:
    saves = float(entry[-2])
    origin = entry[-1]
    us_saves = exchange(saves, origin)
    new_dataset.append({'family': entry[1], 'savings': us_saves})

## Part 3: Summarise the data by family name

Now that you have standardised savings data in US$, you are now required to create summary information that expresses the total value of savings and number of family members for each family dynasty. Create a function to do this, such that it returns the summarised information.

For this result to be helpful, make sure that the families are sorted by order of total net worth. Just be aware that your final result shouldn't be a dictionary per say, as this will not be naturally sorted. Feel free to search for solutions to this on Google and Stack Exchange.

In [98]:
def sort_families(dt):
    sort_ = sorted(dt, reverse=True, key=dt.__getitem__)
    return [[s,dt[s]] for s in sort_]

def data_counter(list_):
    
    data_table = {}
    
    for entry in list_:
        key = entry['family']
        value = entry['savings']
        if key not in data_table:
            data_table[key] = [0, value] 
        else:
            data_table[key][0] += 1 
            data_table[key][1] += value 

    return sort_families(data_table)

summary = data_counter(new_dataset)
summary

[['Lee', [5784, 8619618.217916884]],
 ['Yoon', [5694, 8491365.311665662]],
 ['Jung', [4021, 6090806.20193716]],
 ['Chen', [3941, 5904309.416021526]],
 ['Khan', [3819, 5786822.956568369]],
 ['Dascalu', [3757, 5713714.156386598]],
 ['West', [3511, 5335137.189885458]],
 ['Pillalamarri', [3418, 5080086.193340345]],
 ['Treloar', [3167, 4690787.1784591945]],
 ['DiPilla', [3120, 4604715.624215293]],
 ['Whitley', [2703, 4047325.9628931587]],
 ['Nedelkoski', [2696, 3943963.3122955943]],
 ['Lubarsky', [2235, 3411597.1783553525]],
 ['Pedder', [2120, 3160419.672817113]]]

## Part 4: Select richest families 
Now that we have ordered information on all the families and their respective net worth, select those that we will make accounts for within the $2.5 million dollar budget constraint.

In [103]:
count = 0
accepted = []
for key, value in summary:
    n = value[0]
    savings = value[1]
    count += n
    if count*100 <= 2.5e6:
        accepted.append((key, savings))
accepted

[('Lee', 8619618.217916884),
 ('Yoon', 8491365.311665662),
 ('Jung', 6090806.20193716),
 ('Chen', 5904309.416021526),
 ('Khan', 5786822.956568369)]

## Part 5: Create a module
Finally, put all of your above coded solutions into a self contained module that can be imported to any notebook or python script. Then demonstrate (preferably in a separate notebook) the application of your module in practice, such that you could potentially send the module to anyone else in the company to use.

In [2]:
class Portfolio:
    
    def __init__(self, name):
        self.name = name 
        self.raw = None
        self.data_table = None
        
    def file_reader(self, filename):

        self.raw = []
        
        with open(filename, 'r') as file:
            for row in file.readlines():
                entry = row.strip("\n").split(" ")
                self.raw.append(entry)
                
        return self       
    
    def data_counter(self):
    
        self.data_table = {}

        for entry in self.raw:

            key = entry[1]
            # make sure it's a number !
            value = float(entry[2])
            if key not in self.data_table:
                self.data_table[key] = [0, value] 
            else:
                self.data_table[key][0] += 1 
                self.data_table[key][1] += value 

        return self
        
    def __repr__(self):
        if self.data_table is not None:
            sort_ = sorted(self.data_table, key=self.data_table.get)
            out = []
            for key_ in sort_:
                out.append("%12s: %5i %.2f" % (key_, \
                                               self.data_table[key_][0], \
                                               self.data_table[key_][1]))
            return "\n".join(out) 
        else:
            return "Nothing here!"

In [3]:
p1 = Portfolio('test').file_reader("names.txt").data_counter()
print(p1)

      Pedder:  2171 3366342.75
    Lubarsky:  2187 3307517.39
  Nedelkoski:  2678 4016500.83
     Whitley:  2698 4022168.82
     DiPilla:  3089 4677282.47
     Treloar:  3191 4892268.87
Pillalamarri:  3426 5177199.78
        West:  3509 5316818.63
     Dascalu:  3798 5784515.75
        Khan:  3800 5753913.93
        Jung:  3933 5902169.72
        Chen:  3935 5943168.29
        Yoon:  5785 8520302.33
         Lee:  5786 8669813.05

In [8]:
ans = 0
for key, value in p1.data_table.items():
    ans += value[1]
print(ans/1e6)

75.34998260999998

def palindrome(name_):
    name = name_.lower()
    for i in range(len(name)//2):
        if name[i] is not name[-abs(i+1)]:
            return False
    return True