<div style="background-color: black; color: white; padding: 15px; margin: 1px">
<font face="Calibri" size="4">
<h1 align="center">Python Assignment // Level 2</h1>
</font>
</div>
<br>
<br>
<div>
<center>
<font face="Calibri">
<p>
Imagine that you've somehow obtained unordered customer data for 20 dynastic families from various market competitors. The provenance of the data and how it was collected is irrevelant, although that you need to know is that it was obtained fairly and legally. For your convenience, this data has been supplied to you in the form of a delimited text file, where for each row you have information that pertains to a customer's given name, family name, estimated monthly income, and country of residence.
</p>
<img src="http://i39.tinypic.com/al545k.png" alt="people lining up" style="height:228px;">
<p>
Not all customers reside in the same country, such that their estimated net worth will fluctuate with global market exchange rates. As of the time of you receiving this information, exchange rates against the US dollar are as follows.
</p>

<table>
<tr>
<th>Country</th>
<th>Currency</th>
<th>Exchange Rate</th>
</tr>
<tr>
<td><b>USA</b></td>
<td><b>USD</b></td>
<td><b>1.0</b></td>
</tr>
<tr>
<td>European Union</td>
<td>EUR</td>
<td>0.88</td>
</tr>
<tr>
<td>Australia</td>
<td>AUD</td>
<td>1.33</td>
</tr>
<tr>
<td>UK</td>
<td>GPB</td>
<td>0.77</td>
</tr>
<tr>
<td>Japan</td>
<td>JPY</td>
<td>111.07</td>
</tr>
<tr>
<td>India</td>
<td>INR</td>
<td>64.76</td>
</tr>
<tr>
<td>Saudi Arabia</td>
<td>SAR</td>
<td>3.75</td>
</tr>
<tr>
<td>China</td>
<td>CNY</td>
<td>6.89</td>
</tr>
<tr>
<td>Russia</td>
<td>RUB</td>
<td>56.58</td>
</tr>
<tr>
<td>Switzerland</td>
<td>CHF</td>
<td>97.02</td>
</tr>
</table>

<p>
The cost to the business in opening a new account for each new customer is US &#36;100. While the company would ideally prefer to create new business for all customers, to do so <i>en masse</i> for all dynastic families simultaneously would present a prohibitive cost. Additionally, for geopolitical reasons, all family members must be made customers or not at all. For this one time event, the company has budgeted itself US &#36;2.5 million dollars to create these new accounts.
<br/>
<br/>
Consequently, the task of this assignment will be to produce summary information for the company that will outline which families should be acquired as customers to increase the business' <i>net capital</i>. The problem is split over many tasks, culminating in the final design of a module that will meet the needs of the problem outlined above. 
</p>
<hr>
<b>Tips:</b> 
<li> Draw or write out your approach to the solution first before coding straight away. 
<li> Don't try to solve the entire problem at once, approach the it in bits in pieces.
<li> Play, with the tools you have - refer back to the slides.
<li> Break the problem into a collection of simple functions that you can play with. 
<li> Make sure you test the functions on their own. 
</font>
</center>
</div>

In [286]:
def palindrome(name_):
    name = name_.lower()
    for i in range(len(name)//2):
        if name[i] is not name[-abs(i+1)]:
            return False
    return True

In [299]:
filename = "names.txt"

```python
dataset = []
with open(filename, 'r') as file:
    for row in file.readlines():
        entry = row.strip("\n").split(" ")
        dataset.append(entry)
```

In [303]:
def file_reader(filename):
    
    dataset = []
    with open(filename, 'r') as file:
        for row in file.readlines():
            entry = row.strip("\n").split(" ")
            dataset.append(entry)
    return dataset

names_db = file_reader(filename)

In [305]:
def counter(list_):
    f_counter = {}

    for entry in list_:
        key_ = entry[1]
        if key_ not in f_counter:
            f_counter[key_] = 0
        else:
            f_counter[key_] += 1
            
    return f_counter

counter(names_db)

{'Chen': 3935,
 'Dascalu': 3798,
 'DiPilla': 3089,
 'Jung': 3933,
 'Khan': 3800,
 'Lee': 5786,
 'Lubarsky': 2187,
 'Nedelkoski': 2678,
 'Pedder': 2171,
 'Pillalamarri': 3426,
 'Treloar': 3191,
 'West': 3509,
 'Whitley': 2698,
 'Yoon': 5785}

In [282]:
family_fortune = {}

for name in names_db:
   
    family = name[1]
    savings = float(name[2])
    if family not in family_fortune:
        family_fortune[family] = savings  
    else:
        family_fortune[family] += savings 
        
family_fortune

{'Fletcher': 2136107.260000002,
 'Hohenzollern': 5118240.3999999985,
 'Hussain': 1386993.3999999992,
 'Jenkins': 3005254.439999998,
 'Khan': 888898.4700000004,
 'Lawrence': 1354223.6299999992,
 'Lawson': 7386434.040000003,
 'Marsh': 442538.74000000005,
 'Poole': 6958046.040000001,
 'Qin': 2726660.58,
 'Reichstein': 7061137.679999991,
 'Romanov': 6213202.270000007,
 'Rothschild': 797617.7599999998,
 'Sangama': 3953823.3,
 'Shimazu': 473649.24999999994,
 'Spencer': 6025539.990000006,
 'Tepes': 4112829.5999999894,
 'Tokugawa': 852933.2299999999,
 'Windsor': 7140086.990000006,
 'Zheng': 2004886.8200000026,
 'vonCarstein': 5102585.589999991}

In [283]:
def data_counter(list_):
    
    data_table = {}

    for entry in list_:

        key = entry[1]
        # make sure it's a number !
        value = float(entry[2])
        if key not in data_table:
            data_table[key] = [0, value] 
        else:
            data_table[key][0] += 1 
            data_table[key][1] += value 

    return data_table

data_counter(names_db)

{'Fletcher': [1377, 2136107.260000002],
 'Hohenzollern': [3396, 5118240.3999999985],
 'Hussain': [904, 1386993.3999999992],
 'Jenkins': [1982, 3005254.439999998],
 'Khan': [590, 888898.4700000004],
 'Lawrence': [886, 1354223.6299999992],
 'Lawson': [4815, 7386434.040000003],
 'Marsh': [306, 442538.74000000005],
 'Poole': [4651, 6958046.040000001],
 'Qin': [1851, 2726660.58],
 'Reichstein': [4738, 7061137.679999991],
 'Romanov': [4132, 6213202.270000007],
 'Rothschild': [535, 797617.7599999998],
 'Sangama': [2611, 3953823.3],
 'Shimazu': [320, 473649.24999999994],
 'Spencer': [4032, 6025539.990000006],
 'Tepes': [2707, 4112829.5999999894],
 'Tokugawa': [569, 852933.2299999999],
 'Windsor': [4806, 7140086.990000006],
 'Zheng': [1351, 2004886.8200000026],
 'vonCarstein': [3420, 5102585.589999991]}

In [258]:
class Portfolio:
    
    def __init__(self, name):
        self.name = name 
        self.raw = None
        self.data_table = None
        
    def file_reader(self, filename):

        self.raw = []
        
        with open(filename, 'r') as file:
            for row in file.readlines():
                entry = row.strip("\n").split(" ")
                self.raw.append(entry)
                
        return self       
    
    def data_counter(self):
    
        self.data_table = {}

        for entry in self.raw:

            key = entry[1]
            # make sure it's a number !
            value = float(entry[2])
            if key not in self.data_table:
                self.data_table[key] = [0, value] 
            else:
                self.data_table[key][0] += 1 
                self.data_table[key][1] += value 

        return self
        
    def __repr__(self):
        if self.data_table is not None:
            sort_ = sorted(self.data_table, key=self.data_table.get)
            out = []
            for key_ in sort_:
                out.append("%12s: %5i %.2f" % (key_, \
                                               self.data_table[key_][0], \
                                               self.data_table[key_][1]))
            return "\n".join(out) 
        else:
            return "Nothing here!"

In [284]:
p1 = Portfolio('test').file_reader("names.txt").data_counter()
print(p1)

       Marsh:   306 442538.74
     Shimazu:   320 473649.25
  Rothschild:   535 797617.76
    Tokugawa:   569 852933.23
        Khan:   590 888898.47
    Lawrence:   886 1354223.63
     Hussain:   904 1386993.40
       Zheng:  1351 2004886.82
    Fletcher:  1377 2136107.26
         Qin:  1851 2726660.58
     Jenkins:  1982 3005254.44
     Sangama:  2611 3953823.30
       Tepes:  2707 4112829.60
Hohenzollern:  3396 5118240.40
 vonCarstein:  3420 5102585.59
     Spencer:  4032 6025539.99
     Romanov:  4132 6213202.27
       Poole:  4651 6958046.04
  Reichstein:  4738 7061137.68
     Windsor:  4806 7140086.99
      Lawson:  4815 7386434.04

In [285]:
25e3*100

2500000.0