# Creating names dataset

In [1]:
from scipy.stats import expon, norm
from bs4 import BeautifulSoup
import requests
import random
import re

## Get a list of first names; both boys and girls

In [2]:
firstname_url = "https://www.behindthename.com/top/lists/united-states/2015"
r1 = requests.get(firstname_url)

In [3]:
soup = BeautifulSoup(r1.text, "lxml")
names100_html = soup.select("textarea")[0].string.split("\n")
names = [x.split(":")[0] for x in names100_html if not re.search("^$|\s+", x)]

test = soup.select("a")
test2 = [x.string for x in test if x.string is not None]
len(test2)

## Get a list of surnames

In [4]:
surname_url = "http://surname.sofeminine.co.uk/w/surnames/most-common-surnames-in-great-britain.html"
r2 = requests.get(surname_url)
soup_surname = BeautifulSoup(r2.text, "lxml")

In [8]:
surnames = [row.string for row in soup_surname.select("table tr td a") \
     if row.has_attr('class') and row.attrs['class'][0] == 'nom']

surnames2 = \
['Khan', \
 'Tokugawa', \
 'Lawrence', \
 'Zheng', \
 'Jenkins', \
 'Tepes', \
 'Hohenzollern', \
 'Spencer', \
 'Poole', \
 'Windsor', \
 'Lawson', \
 'Reichstein', \
 'Romanov', \
 'vonCarstein', \
 'Sangama', \
 'Qin', \
 'Fletcher', \
 'Hussain', \
 'Rothschild', \
 'Marsh', \
 'Shimazu']

surnames3 = \
['Yoon', \
 'Pedder', \
 'Whitley', \
 'DiPilla', \
 'West', \
 'Dascalu', \
 'Chen', \
 'Jung', \
 'Khan', \
 'Pillalamarri', \
 'Treloar', \
 'Nedelkoski', \
 'Lubarsky', \
 'Lee']

country = \
['China', \
 'Japan', \
 'USA', \
 'Australia', \
 'UK', \
 'India', \
 'SaudiArabia', \
 'Germany', \
 'Switzerland', \
 'Russia',
]

In [ ]:
ex_rates = {'USA': 1., 'Australia': 1/1.33, 'India': 1/64.76, 'Japan':1/111.07, \
            'UK':1/0.77, 'Switzerland':1/0.97, 'SaudiArabia':1/3.75, 'China':1/6.89, \
           'Germany':1/0.88, 'Russia':1/56.58}

## Randomly generate pairs of names and savings

In [12]:
def exchange(value, key):
    rates = {'USA': 1., 'Australia':1.33, 'India':64.76, 'Japan':111.07, \
            'UK':0.77, 'Switzerland':0.97, 'SaudiArabia':3.75, 'China':6.89, \
            'Germany':0.88, 'Russia':56.58}
    return value*rates[key]

In [14]:
n_sample = 50000

max_name = len(names)-1
max_family = len(surnames3) - 1
max_orig = len(country) - 1

with open("acquired_custom_data.txt", "w") as file:
    for i in range(n_sample):   
        
        id1 = random.randint(0, max_name)
        
        rand_fam = norm.rvs(loc=7, scale=5)
        id2 = int(min(max_family, max(0, rand_fam)))
        
        id3 = random.randint(0, max_orig)
        
        us_save = expon.rvs(scale=1e3, loc=500)
        savings = exchange(us_save, country[id3])
        
        full_name = "%s %s %.2f %s\n" % (names[id1], surnames3[id2], savings, country[id3])
        file.write(full_name)